services:
  postgres:
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: fund_compare
      POSTGRES_USER: fund
      POSTGRES_PASSWORD: fund
    
